html, body, main, .login-screen {
  @include size(100%, 100%);
}

body {
  font-family: 'Open-Sans';
  position: relative;
}

h1 {
  text-shadow: 1px 1px $blackLight;
  font-size: $heading-size;
  color: $cherry;
}

.login .sign-btn {
  a {
    text-shadow: 1px 1px $blackLight;
    text-decoration: none;
    font-weight: bold;
    color: $silver;
    &:hover {
      color: $green;
    }
  }
}

.border-dark {
  @include placeholder($placeholder-color);
  border: 2px solid $cherry;
  border-radius: 8px;
}

.border-dark-addon {
  @include placeholder($placeholder-color);
  border-radius: 0 8px 8px 0 !important;
  border: 2px solid $cherry;
  border-left: 0;
}

.form-control {
  border-color: $cherry;
  font-size: $text-size;
  outline: 0 none;
  &:focus {
    transition: all 0.2s ease-out;
    border-color: $darkCherry;
    @extend .form-control;
  }
}

.min-height {
  @include box-shadow(0 0 10px rgba(255, 255, 255, .5));
  background: rgba(255, 255, 255, .2);
  padding-bottom: 20px;
  border-radius: 10px;
}

.front {
  p {
    font-size: $text-size;
  }
}

.login-screen {
  position: relative;
  background: url(../../img/background/cherry.jpg) center fixed;
  background-size: cover;
  height: 100%;
}

.register-screen{
  @extend .login-screen
}

.login-screen:before {
  background: $blackLight;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
}

.register-screen:before{
  @extend .login-screen:before
}

.login-center {
  text-align: left;
  position: absolute;
  top: 23%
}

.register-center {
  @extend .login-center;
  top: 20%;
}

.login {
  text-shadow: 1px 1px $blackLight;
  font-size: $text-size;
  margin: 0 auto;
  color: $silver;
  width: 100%;
  .login-form {
    text-align: left;
    .form-group {
      margin-bottom: 0;
    }
  }
  label {
    text-shadow: 1px 1px $blackLight;
    color: $silver;
  }
}

.login-form .input-group {
  .form-control {
    @extend .input-group-addon;
    box-shadow: none;
    color: $silver;
    height: 44px;
  }
  .input-group-addon {
    background: none;
  }
}

.glyphicon, .fa {
  color: $silver;
}

.login .sign-btn {
  input.btn {
    border: 2px solid $darkCherry;
    transition: all 0.2s ease-out;
    font-size: $text-size;
    background: $cherry;
    border-radius: 8px;
    color: $silver;
    outline: none;
    width: 100%;
    &:hover {
      background: $darkCherry;
    }
  }
}

.login .checkbox {
  margin-bottom: 20px;
  margin-top: 20px;
  input {
    margin-top: 2px;
    height: 19px;
    width: 19px;
  }
  label {
    span {
      margin-left: 10px;
    }
  }
}

.login {
  .forgot {
    display: inline-block;
    font-size: $text-size;
  }
}

.sign-up {
  text-shadow: 1px 1px $blackLight;
  margin-top: 20px;
  color: $silver;
}

.input-relative {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.error-message {
  font-size: $error !important;
  position: absolute;
  top: 105%;
  right: 0;
}

.register-message {
  font-weight: bold;
  margin-top: 12%;
  color: #dedede;
}

.year-select {
  padding: 0;
  width: 30% !important;
}

.mount-select {
  border-right: none;
  border-left: none;
  padding: 5px 5px 5px 0;
  width: 45% !important;
}

.day-select {
  padding: 0;
  width: 25% !important;
}
