html, body, main, .login-screen {
  @include size(100%, 100%);
}

body {
  font-family: 'Open-Sans';
  position: relative;
}

h1 {
  text-shadow: 1px 1px $blackLight;
  font-size: $heading-size;
  color: $cherry;
}

.login-screen {
  position: relative;
  background: url(../../img/background/cherry.jpg) center fixed;
  background-size: cover;
  height: 100%;
}

.register-screen, .profile-screen {
  @extend .login-screen
}

.login-screen:before {
  background: $blackLight;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
}

.register-screen:before, .profile-screen:before {
  @extend .login-screen:before
}

.login-center {
  position: absolute;
  top: 23%
}

.register-center {
  position: absolute;
  top: 20%;
}

.profile-center{
  position: absolute;
  top: 20%;
}

.login .sign-btn {
  a {
    text-shadow: 1px 1px $blackLight;
    text-decoration: none;
    font-weight: 100;
    color: $silver;
    &:hover {
      color: $green;
    }
  }
}

.border-dark {
  @include placeholder($placeholder-color);
  border: 2px solid $cherry;
  border-radius: 8px;
}

.border-dark-addon {
  @include placeholder($placeholder-color);
  border-radius: 0 8px 8px 0 !important;
  border: 2px solid $cherry;
  border-left: 0;
}

.form-control {
  border-color: $cherry;
  outline: 0 none;
  font-size: $text-size-max480;
  &:focus {
    transition: all 0.2s ease-out;
    border-color: $darkCherry;
    @extend .form-control;
  }
}

.min-height {
  @include box-shadow(0 0 10px rgba(255, 255, 255, .5));
  background: rgba(255, 255, 255, .2);
  padding-bottom: 20px;
  border-radius: 10px;
}

.front {
  p {
    font-size: $text-size;
  }
}

.login {
  text-shadow: 1px 1px $blackLight;
  font-size: $text-size;
  margin: 0 auto;
  color: $silver;
  width: 100%;
  .login-form {
    text-align: left;
    .form-group {
      margin-bottom: 0;
    }
  }
  label {
    text-shadow: 1px 1px $blackLight;
    color: $silver;
  }
}

.login-form .input-group {
  .form-control {
    @extend .input-group-addon;
    color: $silver !important;
    box-shadow: none;
    height: 38px;
  }
  .input-group-addon {
    background: none;
  }
}

.glyphicon, .fa {
  color: $silver;
}

.login .sign-btn {
  input.btn {
    border: 2px solid $darkCherry;
    transition: all 0.2s ease-out;
    font-size: $text-size;
    background: $cherry;
    border-radius: 8px;
    color: $silver;
    outline: none;
    width: 100%;
    &:hover {
      background: $darkCherry;
    }
  }
}

.login {
  .forgot {
    display: inline-block;
    font-size: $text-size;
  }
}

.sign-up {
  text-shadow: 1px 1px $blackLight;
  margin-top: 20px;
  color: $silver;
}

.input-relative {
  .col-xs-3 {
    min-height: 0;
  }
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.error {
  font-size: $error !important;
  color: #ef302d !important;
  position: absolute;
  top: 105%;
  right: 0;
}

.error-date {
  font-size: $error !important;
  color: #ef302d !important;
}

.register-message {
  font-weight: bold;
  margin-top: 12%;
  color: #dedede;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 21px;
  height: 20px;
  border: 2px solid #731121;
  border-radius: 2px;
}

.checkbox:checked + label:before {
  background: url("../../img/icon/cherry-checkbox-logo.png") no-repeat;
  background-size: 100%;
  width: 25px;
  height: 30px;
  border: none;
  top: -7px;
}

.body-checkbox {
  margin-bottom: 10px;
}

label {
  font-weight: 100;
}

select option:first-child {
  display: none;
}

.select-date {
  padding: 0;
  .btn-group {
    width: 100% !important;
    button {
      border: 2px solid $cherry !important;
      background-color: transparent !important;
      color: $silver !important;
    }
  }
  .dropdown-menu {
    ul > :first-child {
      display: none;
    }
  }
}

.select-year {
  .btn-group {
    button {
      border-radius: 8px 0 0 8px !important;
      padding: 6px 6px 6px 3px;
      &:hover {
        @extend button
      }
      &:focus {
        @extend button;
        border: 2px solid $darkCherry !important;
      }
      &:active {
        @extend button
      }
      span {
        font-size: $text-size-max480;
      }
    }
  }
}

.select-month {
  .btn-group {
    button {
      border-right: none !important;
      border-left: none !important;
      padding: 6px 6px 6px 3px;
      border-radius: 0;
      &:hover {
        @extend button
      }
      &:focus {
        border: 2px solid $darkCherry !important;
        border-right: none !important;
        border-left: none !important;
      }
      &:active {
        @extend button
      }
      span {
        font-size: $text-size-max480;
      }
    }
  }
}

.select-day {
  .btn-group {
    button {
      border-radius: 0 8px 8px 0 !important;
      padding: 6px 6px 6px 3px;
      &:hover {
        @extend button
      }
      &:focus {
        @extend button;
        border: 2px solid $darkCherry !important;
      }
      &:active {
        @extend button
      }
      span {
        font-size: $text-size-max480;
      }
    }
  }
}

.select-gender {
  .error {
    margin-right: -23%;
  }
  .btn-group {
    width: 100%;
    button {
      border: 2px solid $cherry !important;
      background-color: transparent !important;
      color: $silver !important;
      border-radius: 8px 0 0 8px;
      &:hover {
        @extend button
      }
      &:focus {
        border: 2px solid $darkCherry;
        @extend button;
      }
      &:active {
        @extend button
      }
      span {
        font-size: $text-size-max480;
      }
    }
  }
  .dropdown-menu {
    ul > :first-child {
      display: none;
    }
  }
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
