<footer>
    <div class="container">
        <div class="text-right copy-right-text">
            <span class="copy-right">&#9400 <%- texts['TITLE'] %> 2017</span>
        </div>
    </div>
</footer>
</main>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
</body>
</html>
