@font-face {
  font-family: 'Open-Sans';
  src: url('../../fonts/OpenSans.eot');
  src: url('../../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans.svg#OpenSans') format('svg'),
  url('../../fonts/OpenSans.ttf') format('truetype'),
  url('../../fonts/OpenSans.woff2') format('woff2'),
  url('../../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$text-size-max480Height750: 14px;
$text-size-max480: 12px;
$text-size-max335: 9px;
$text-size-select: 13px;
$font-cursive: cursive;
$heading-size: 50px;
$text-size: 15px;
$error: 12px;
