$placeholder-color: rgba(255, 255, 255, .4);
$brownLight: rgba(255, 73, 63, 0.7);
$lightCherry: rgba(255, 0, 50, 0.6);
$blackLight: rgba(0, 0, 0, 0.7);
$tranparent: transparent;
$darkCherry: #50131d;
$silver: #d0caca;
$cherry: #731121;
$green: #048a19;
$white: #fff;
