.login-screen {
  .login-center {
    padding: 0 20px;
    top: 20%;
  }
}

.register-screen {
  height: 105%;
  .register-center {
    padding: 0 20px;
    top: 5%;
  }
}

h1 {
  font-size: 32px;
}

.minus-padding {
  padding: 0;
}

.login {
  width: 100%;
  .login-form .input-group {
    .form-control {
      height: 33px;
    }
  }
  .forgot, .front p {
    font-size: $text-size-max480;
  }

  .checkbox input {
    margin-top: 5px;
    @include size(15px, 15px);
  }

  .select-month, .select-day, .select-year {
    button {
      padding: 5px 5px 5px 3px !important;
      span {
        font-size: $text-size-max335;
        padding-top: 3px;
      }
    }
  }

  .select-gender {
    .error {
      margin-right: -17%;
    }
  }

  .checkbox + label {
    padding: 3px 0 0 30px !important;
    font-size: $text-size-max480;
  }

  .sign-btn {
    a:hover {
      color: $silver;
    }
    input.btn {
      height: 32px;
      padding-top: 3px;
    }
    .sign-up {
      margin-top: 10px;
    }
  }
}

.copy-right-text {
  text-align: center !important;
  font-size: $text-size-max480;
}

.profile-center {
  top: 8%;
  .profile-data {
    .profile-data-name {
      text-align: left;
      font-size: $text-size-max480;
    }
    .input-group {
      margin-bottom: 10px;
      .profile-data-value {
        font-size: $text-size-max480;
      }
    }
  }
  .div-icon{
    padding: 0;
  }

  .div-profile-btn {
    padding: 0 !important;
    .profile-btn {
      margin-top: 20px;
    }
  }

  .div-change-password{
    text-align: center;
  }
}

.modal-content{
  .footer-modal{
    text-align: center;
  }
}
