.login-center {
  margin: 0 30px;
  top: 22%;
}

.register-center {
  margin: 0 30px;
  top: 5%;
}

.login {
  width: 100%;
}

h1 {
  font-size: 32px;
}

.login .forgot, .front p {
  font-size: $text-size-max480;
}

.login .checkbox label span {
  margin-left: 5px;
  font-size: $text-size-max480;
}

.login .checkbox input {
  margin-top: 5px;
  @include size(15px, 15px);
}

.login .sign-btn a:hover {
  font-size: $text-size-max480;
  &:hover {
    color: $silver;
  }
}

.login-form .input-group {
  .form-control {
    height: 33px;
    font-size: $text-size-max480;
  }
}

.login .sign-btn input.btn {
  height: 32px;
  padding-top: 3px;
}

.sign-up {
  margin-top: 10px;
}

.minus-padding {
  padding: 0;
}

.copy-right-text {
  text-align: center !important;
  font-size: $text-size-max480;
}

.login {
  font-size: $text-size-max480;
}
